*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20% auto;
   

}


.container{
   
    display: flex;
    justify-content: center;
    align-items: center;
  
 
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
span{
    background-color: #FED0CDFF;
    border-radius: 8px;
   
    padding: 11px 40px;
}

.btn{
    border-radius: 8px;
    border: none;
    background-color: #28803CFF;
    width: 80px;
    height: 40px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin:0px 10px
  
    
}
.reset{
    margin-top: 20px;
    margin-left:36%;
}